---
AWSTemplateFormatVersion: '2010-09-09'
Parameters:
  VPCCidr:
    Description: CIDR for the kubernetes vpc
    Type: String
    MinLength: '9'
    MaxLength: '18'
    AllowedPattern: (\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})
    ConstraintDescription: The CIDR has to be of the pattern (xx)x.(xx)x.(xx)x.(xx)x/xx
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default:  "Kubernetes VPC CIDR"
        Parameters:
          - VPCCidr

Resources:
  KubeVPC:
    Type: 'AWS::EC2::VPC'
    Properties:
      CidrBlock: !Ref VPCCidr
      EnableDnsHostnames: true
      InstanceTenancy: 'default'
      Tags:
        - Key: Name
          Value: !Join ['-',['Kubernetes', !Ref 'AWS::StackName', 'vpc']]

Outputs:
  KubeVpcId:
    Description: 'Kubernetes VPC Id'
    Value: !Ref KubeVPC
    Export:
      Name: KubeVpcId
